[Desktop Entry]
Encoding=UTF-8
Name=Link to image.png326 kB PNGOpen file
Type=Link
URL=https://keepcalmlabs.slack.com/files/UPVB7B9KJ/F019UTTAMQV/image.png?origin_team=TGEE99A9E&origin_channel=G019MBA6W4R
Icon=text-html
